@import '../base/var.css';

.tasks{
    padding: 1rem;
    border: 2px solid var(--corCinza);
    border-radius: 1rem;
    margin: 1.5rem 0;
}

.task-categorias--container{
    display: flex;
    width: 100%;
    align-items: center;   
    margin-bottom: 1rem;
    gap: 10px;
    
}



.task-categorias--container div{
    padding: 4px 8px 4px 8px;
    border: 2px solid var(--corCinza);
    border-radius: 5px;
    cursor: pointer;
    color: var(--corCinza);
}

.task-categorias--opcao--prioridade--alta{
    background-color: var(--corRed);
    color: #fff !important;
    font-weight: bold;
    border: none !important;
}

.task-categorias--opcao--prioridade--media{
    background-color: var(--corAmarela);
    font-weight: bold;
    color: #fff !important;
    border: none !important;
}

.task-categorias--opcao--prioridade--baixa{
    background-color: var(--corVerde);
    color: #fff !important;
    font-weight: bold;
    border:  none !important;
}



.task-categoria--text{
    display: flex;
    align-items: center;
}

.task-categoria--text .task-categoria--text--p{
    margin-right: 1rem;
    padding-right: 0.5rem;
    font-size: 20px;
    margin: 0.5rem 0;
    font-weight: bold;
    border-right: 2px solid var(--corCinza);
    font-weight: 700;
}

.task-categoria--text .task-categoria--text--spam{
    font-weight: 400;
    margin-left: 0.5rem;
    font-size: 1rem;
}